<div class="grid">
    <div class="col-12">
        <div class="card">
            <div class="flex justify-content-between">
                <h4>Participante</h4>
				<button pButton pRipple type="button" icon="pi pi-arrow-left" class="p-button-rounded p-button-secondary p-button-text p-0 w-2rem h-2rem" (click)="backPage()"></button>
			</div>
            <div class="p-fluid p-formgrid grid mt-1 animation-duration-600 fadein" [formGroup]="formGroup" *ngIf="!isLoading; else loagingSkeleton">
				<div class="field col-12 py-0">
					<label htmlFor="name">Nome<span class="text-red-500 font-bold">*</span></label>
					<input id="name" formControlName="name" pInputText required autofocus [ngClass]="{'ng-invalid ng-dirty' : name.invalid && (name.dirty || name.touched)}"/>
					<div *ngIf="name.invalid && (name.dirty || name.touched)">
						<small class="ng-dirty ng-invalid" *ngIf="name.errors?.['required']">Este campo é obrigatório.</small>
                        <small class="ng-dirty ng-invalid" *ngIf="name.errors?.['maxlength']">Este campo deve ter no máximo {{ name.errors?.['maxlength'].requiredLength }} caracteres.</small>
                        <small class="ng-dirty ng-invalid" *ngIf="name.errors?.['minLength']">Este campo deve ter no mínimo {{ name.errors?.['minLength'].requiredLength }} caracteres.</small>
                    </div>
				</div>
                <div class="field col-12 md:col-6 py-0">
					<label htmlFor="email">E-mail</label>
					<input id="email" formControlName="email" pInputText [ngClass]="{'ng-invalid ng-dirty' : email.invalid && (email.dirty || email.touched)}"/>
					<div *ngIf="email.invalid && (email.dirty || email.touched)">
                        <small class="ng-dirty ng-invalid" *ngIf="email.errors?.['maxlength']">Este campo deve ter no máximo {{ email.errors?.['maxlength'].requiredLength }} caracteres.</small>
                        <small class="ng-dirty ng-invalid" *ngIf="email.errors?.['minLength']">Este campo deve ter no mínimo {{ email.errors?.['minLength'].requiredLength }} caracteres.</small>
                        <small class="ng-dirty ng-invalid" *ngIf="email.errors?.['email']">Informe um e-mail válido.</small>
                    </div>
				</div>
                <div class="field col-12 md:col-6 py-0">
                    <label htmlFor="phone_number">Telefone</label>
                    <p-inputMask mask="(99) 99999-9999" [unmask]="true" id="phone_number" formControlName="phone_number" [ngClass]="{'ng-invalid ng-dirty' : phone_number.invalid && (phone_number.dirty || phone_number.touched)}"></p-inputMask>
                    <div *ngIf="phone_number.invalid && (phone_number.dirty || phone_number.touched)">
                        <small class="ng-dirty ng-invalid" *ngIf="phone_number.errors?.['required']">Este campo é obrigatório.</small>
                    </div>
                </div>
				<div class="field col-12 flex justify-content-end mb-0 py-0">
					<button pButton pRipple label="Salvar" class="p-button-primary md:w-min" [loading]="isSubmitting" (click)="submit()"></button>
				</div>
			</div>
            <ng-template #loagingSkeleton >
				<div class="p-fluid p-formgrid grid mt-1">
					<div field class="field col-12 py-0">
						<p-skeleton height="16px" width="25%" styleClass="mb-2"></p-skeleton>
						<p-skeleton width="100%" height="39px"></p-skeleton>
					</div>
					<div field class="field col-12 md:col-6 py-0">
						<p-skeleton height="16px" width="25%" styleClass="mb-2"></p-skeleton>
						<p-skeleton width="100%" height="39px"></p-skeleton>
					</div>
					<div field class="field col-12 md:col-6 py-0">
						<p-skeleton height="16px" width="25%" styleClass="mb-2"></p-skeleton>
						<p-skeleton width="100%" height="39px"></p-skeleton>
					</div>
					<div class="field col-12 flex justify-content-end mb-0 py-0">
						<p-skeleton class="md:w-min" width="80px" height="40px"></p-skeleton>
					</div>
				</div>
			</ng-template>
        </div>
    </div>
</div>